<html>
<head>


</head>
<body>
	<h1>CONTACT</h1>

<form action="#">
<fieldset>
<legend>Votre Nom et Prénom</legend>
<p>Nom : <input name="A" type="Text" value="Nom"/></p>
<p>Prénom : <input name="B" type="Text" value="Prénom"/></p>
<p>Téléphone : <input name="T" type="Text" value="00ààà000"/></p>
<p>Adresse mail : <input name="e" type="Text" value="..@.."/></p>
</fieldset>



<p>
	<textarea rows="3" cols="30	" name="H">
	Laisez nous 
	un commentaire
	</textarea>
</p>

<p>
	<input type="submit" value="Envoyer" />
</p>


</form>

</body>
</html>
